
span{
  display: flex;
}

h1{
  font-size: 1.2rem;
  color: rgb(77, 77, 207);
  
}
h2{
  color: rgb(172, 56, 56);
}

p{
  font-style: Arial;
  font-size: 1rem;

  width:30%;
  margin-left: 5rem;
}
img{
  margin-top: 1.5rem;
  margin-left: 5rem ;
}